In [ ]:
makemy trip website
mumbai to delhi

spicejet
indian airlines






API--- Application Programming Interface

json object

dict 


store data in the form key value

In [1]:
d = {}

In [2]:
s = {} # it will create dict

In [3]:
a = {1,}

In [4]:
type(a)

set

In [5]:
d = {'a':1,'b':2,'c':3}

In [6]:
type(d)

dict

In [ ]:
1.it consist in the form of key:value
2.keys are always immutable
3.values can be mutable or immutable
4.it is mutable in nature---inesrt/delete/update

In [7]:
personal_dict = {'name':'arun','salary':45000,'company':'IBM','location':'Pune'}

In [8]:
personal_dict

{'name': 'arun', 'salary': 45000, 'company': 'IBM', 'location': 'Pune'}

In [9]:
d = {['a','b','c']:'python'}

TypeError: unhashable type: 'list'

In [10]:
d = {('a','b','c'):'python'}

In [11]:
d

{('a', 'b', 'c'): 'python'}

In [ ]:
keys can be:
    tuple
    string
    number

In [12]:
personal_dict = {'name':'arun','salary':45000,'company':'IBM','location':'Pune'}

In [13]:
personal_dict

{'name': 'arun', 'salary': 45000, 'company': 'IBM', 'location': 'Pune'}

In [ ]:
key
value
key:value---- item
{ items}

In [ ]:
mutable DS:
    list
    set
    dict
immutable DS:
    tuple
    string
    frozenset
    number

In [14]:
personal_dict

{'name': 'arun', 'salary': 45000, 'company': 'IBM', 'location': 'Pune'}

In [15]:
p = {'name':['akash','jon','justin','hari','somesh'],
    'salary':[45000,35000,24000,56000,76000],
    'loc':['pune','mumbai','delhi','chennai','pune']}

In [16]:
p

{'name': ['akash', 'jon', 'justin', 'hari', 'somesh'],
 'salary': [45000, 35000, 24000, 56000, 76000],
 'loc': ['pune', 'mumbai', 'delhi', 'chennai', 'pune']}

     name  salary      loc
0   akash   45000     pune
1     jon   35000   mumbai
2  justin   24000    delhi
3    hari   56000  chennai
4  somesh   76000     pune

In [20]:
p = {'name':['akash','jon','justin','hari','somesh'],
    'salary':[45000],
    'loc':['pune','mumbai','delhi','chennai','pune']}

In [21]:
p

{'name': ['akash', 'jon', 'justin', 'hari', 'somesh'],
 'salary': [45000],
 'loc': ['pune', 'mumbai', 'delhi', 'chennai', 'pune']}

In [22]:
p

{'name': ['akash', 'jon', 'justin', 'hari', 'somesh'],
 'salary': [45000],
 'loc': ['pune', 'mumbai', 'delhi', 'chennai', 'pune']}

In [23]:
p['name']

['akash', 'jon', 'justin', 'hari', 'somesh']

In [24]:
p['salary']

[45000]

In [25]:
p['loc']

['pune', 'mumbai', 'delhi', 'chennai', 'pune']

In [26]:
#note dont use seq immutable i.e tuple

In [27]:
car_details = {'name':'BMW','price':900000,'speed':120}

In [28]:
car_details

{'name': 'BMW', 'price': 900000, 'speed': 120}

In [30]:
car_details['name']

'BMW'

In [31]:
car_details['price']

900000

In [32]:
car_details['speed']

120

In [33]:
#create dict
#how to access

In [34]:
p

{'name': ['akash', 'jon', 'justin', 'hari', 'somesh'],
 'salary': [45000],
 'loc': ['pune', 'mumbai', 'delhi', 'chennai', 'pune']}

In [37]:
p['name'][0]

'akash'

In [38]:
p['loc'][-2]

'chennai'

In [39]:
car_details

{'name': 'BMW', 'price': 900000, 'speed': 120}

In [40]:
# there are two ways access the value

In [43]:
car_details['name1']

KeyError: 'name1'

In [48]:
car_details.get('name234242342','no key present')

'no key present'

In [49]:
car_details

{'name': 'BMW', 'price': 900000, 'speed': 120}

In [51]:
car_details['name232323']

KeyError: 'name232323'

In [53]:
car_details.get('kjsdanfjkasbdfjk','nodata')

'nodata'

In [54]:
#insert the value into dict

In [55]:
car_details['color'] = 'Red'

In [56]:
car_details

{'name': 'BMW', 'price': 900000, 'speed': 120, 'color': 'Red'}

In [57]:
car_details['variant'] = None

In [58]:
car_details

{'name': 'BMW', 'price': 900000, 'speed': 120, 'color': 'Red', 'variant': None}

In [60]:
car_details['asd'] = 100

In [61]:
car_details

{'name': 'BMW',
 'price': 900000,
 'speed': 120,
 'color': 'Red',
 'variant': None,
 'asd': 100}

In [62]:
#multple key:value pair

In [63]:
car_details.update({'loc':'mumbai','isanyaccident':False})

In [64]:
car_details

{'name': 'BMW',
 'price': 900000,
 'speed': 120,
 'color': 'Red',
 'variant': None,
 'asd': 100,
 'loc': 'mumbai',
 'isanyaccident': False}

In [65]:
#dict keys cannt be duplicate
it will take latest key value pair

In [66]:
temp = {'a':1,'b':2,'c':3}

In [67]:
temp

{'a': 1, 'b': 2, 'c': 3}

In [68]:
temp['a'] = 100

In [69]:
temp

{'a': 100, 'b': 2, 'c': 3}

In [70]:
temp[2]

KeyError: 2

In [71]:
temp

{'a': 100, 'b': 2, 'c': 3}

In [72]:
temp['a'] = [100,200,300,400]

In [73]:
temp

{'a': [100, 200, 300, 400], 'b': 2, 'c': 3}

In [74]:
temp['a1'] = 'python'

In [75]:
temp

{'a': [100, 200, 300, 400], 'b': 2, 'c': 3, 'a1': 'python'}

In [76]:
temp['a']='java'

In [77]:
temp

{'a': 'java', 'b': 2, 'c': 3, 'a1': 'python'}

In [78]:
temp

{'a': 'java', 'b': 2, 'c': 3, 'a1': 'python'}

In [79]:
temp

{'a': 'java', 'b': 2, 'c': 3, 'a1': 'python'}

In [80]:
temp.keys()

dict_keys(['a', 'b', 'c', 'a1'])

In [81]:
temp.values()

dict_values(['java', 2, 3, 'python'])

In [82]:
temp.items()

dict_items([('a', 'java'), ('b', 2), ('c', 3), ('a1', 'python')])

In [83]:
car_details

{'name': 'BMW',
 'price': 900000,
 'speed': 120,
 'color': 'Red',
 'variant': None,
 'asd': 100,
 'loc': 'mumbai',
 'isanyaccident': False}

In [84]:
car_details.keys()

dict_keys(['name', 'price', 'speed', 'color', 'variant', 'asd', 'loc', 'isanyaccident'])

In [85]:
car_details.values()

dict_values(['BMW', 900000, 120, 'Red', None, 100, 'mumbai', False])

In [86]:
car_details.items()

dict_items([('name', 'BMW'), ('price', 900000), ('speed', 120), ('color', 'Red'), ('variant', None), ('asd', 100), ('loc', 'mumbai'), ('isanyaccident', False)])

In [87]:
emp = {'name':'Josh','salary':45000,'location':'pune'}

In [88]:
t1 = {'dept':'it','id':101}

In [89]:
emp.update(t1)

In [90]:
emp

{'name': 'Josh', 'salary': 45000, 'location': 'pune', 'dept': 'it', 'id': 101}

In [91]:
#update --->  mutiple key value pair for addition

In [92]:
t3 = {'a':1,'b':2}

In [101]:
emp.update(set(list(car_details.items())[-))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [100]:
emp

{'name': 'Josh',
 'salary': 45000,
 'location': 'pune',
 'dept': 'it',
 'id': 101,
 'b': 2,
 'a': 1}

In [98]:
set(list(t3.items())[-1])

{2, 'b'}

In [102]:
emp

{'name': 'Josh',
 'salary': 45000,
 'location': 'pune',
 'dept': 'it',
 'id': 101,
 'b': 2,
 'a': 1}

In [106]:
list(emp.items())[2:4]

[('location', 'pune'), ('dept', 'it')]

In [107]:
car_details

{'name': 'BMW',
 'price': 900000,
 'speed': 120,
 'color': 'Red',
 'variant': None,
 'asd': 100,
 'loc': 'mumbai',
 'isanyaccident': False}

In [126]:
{list(emp.items())[-3][0]:list(emp.items())[-3][1]}

{'id': 101}

In [115]:
p

{'name': ['akash', 'jon', 'justin', 'hari', 'somesh'],
 'salary': [45000],
 'loc': ['pune', 'mumbai', 'delhi', 'chennai', 'pune']}

In [116]:
for v in p.values():
    print(v)

['akash', 'jon', 'justin', 'hari', 'somesh']
[45000]
['pune', 'mumbai', 'delhi', 'chennai', 'pune']

In [117]:
p.values()

dict_values([['akash', 'jon', 'justin', 'hari', 'somesh'], [45000], ['pune', 'mumbai', 'delhi', 'chennai', 'pune']])

In [120]:
p.values()

dict_values([['akash', 'jon', 'justin', 'hari', 'somesh'], [45000], ['pune', 'mumbai', 'delhi', 'chennai', 'pune']])

In [121]:
p.keys()

dict_keys(['name', 'salary', 'loc'])

In [122]:
p.items()

dict_items([('name', ['akash', 'jon', 'justin', 'hari', 'somesh']), ('salary', [45000]), ('loc', ['pune', 'mumbai', 'delhi', 'chennai', 'pune'])])

In [123]:
temp

{'a': 'java', 'b': 2, 'c': 3, 'a1': 'python'}

In [127]:
temp.update({list(emp.items())[-3][0]:list(emp.items())[-3][1]})

In [128]:
temp

{'a': 'java', 'b': 2, 'c': 3, 'a1': 'python', 'id': 101}

In [129]:
emp

{'name': 'Josh',
 'salary': 45000,
 'location': 'pune',
 'dept': 'it',
 'id': 101,
 'b': 2,
 'a': 1}

In [130]:
emp.keys()

dict_keys(['name', 'salary', 'location', 'dept', 'id', 'b', 'a'])

In [131]:
emp.values()

dict_values(['Josh', 45000, 'pune', 'it', 101, 2, 1])

In [132]:
emp.items()

dict_items([('name', 'Josh'), ('salary', 45000), ('location', 'pune'), ('dept', 'it'), ('id', 101), ('b', 2), ('a', 1)])

In [133]:
temp

{'a': 'java', 'b': 2, 'c': 3, 'a1': 'python', 'id': 101}

In [134]:
temp1 = temp.copy()

In [135]:
temp1

{'a': 'java', 'b': 2, 'c': 3, 'a1': 'python', 'id': 101}

In [136]:
temp

{'a': 'java', 'b': 2, 'c': 3, 'a1': 'python', 'id': 101}

In [145]:
n = temp.copy()

In [146]:
n

{'a': 'java', 'b': 2, 'c': 3, 'a1': 'python', 'id': 101}

In [139]:
#we want to dict but dont have values

In [147]:
k = ('name','salary','loc','id')

In [148]:
d = dict.fromkeys(key,0)

In [149]:
d

{'name': 0, 'salary': 0, 'loc': 0, 'id': 0}

In [150]:
t = ('python','java','c','c++')

In [153]:
t = dict.fromkeys(t,'no data')

In [154]:
t1

{'python': 'no data', 'java': 'no data', 'c': 'no data', 'c++': 'no data'}

In [155]:
t

{'python': 'no data', 'java': 'no data', 'c': 'no data', 'c++': 'no data'}

In [156]:
t['hadoop']=None

In [157]:
t

{'python': 'no data',
 'java': 'no data',
 'c': 'no data',
 'c++': 'no data',
 'hadoop': None}

In [158]:
t['python']='ML'

In [159]:
t

{'python': 'ML',
 'java': 'no data',
 'c': 'no data',
 'c++': 'no data',
 'hadoop': None}

In [162]:
md = dict.fromkeys(['name','address','salary'])

In [163]:
md

{'name': None, 'address': None, 'salary': None}

In [164]:
#how to create dict
#how to add items in dict
#how to fetch items/values from dict

In [165]:
d = {'name':'Gold','qty':100,'purity':23}

In [166]:
#if we have items --->key:value --

In [167]:
dm = {}

In [168]:
type(dm)

dict

In [169]:
dm['loc'] = 'pune'

In [171]:
dm

{'loc': 'pune'}

In [172]:
dm['sales'] = 1000

In [173]:
dm

{'loc': 'pune', 'sales': 1000}

In [174]:
d

{'name': 'Gold', 'qty': 100, 'purity': 23}

In [175]:
d.update(dm)

In [176]:
d

{'name': 'Gold', 'qty': 100, 'purity': 23, 'loc': 'pune', 'sales': 1000}

In [177]:
d

{'name': 'Gold', 'qty': 100, 'purity': 23, 'loc': 'pune', 'sales': 1000}

In [178]:
d['loc']

'pune'

In [179]:
#how to delete items from dict

In [180]:
#pop
#popitem

In [181]:
d.pop('sales')

1000

In [182]:
d

{'name': 'Gold', 'qty': 100, 'purity': 23, 'loc': 'pune'}

In [183]:
d['sales'] = [100,200,300,400,500]

In [184]:
d

{'name': 'Gold',
 'qty': 100,
 'purity': 23,
 'loc': 'pune',
 'sales': [100, 200, 300, 400, 500]}

In [186]:
d['sales'].remove(300)

In [187]:
d

{'name': 'Gold',
 'qty': 100,
 'purity': 23,
 'loc': 'pune',
 'sales': [100, 200, 400, 500]}

In [ ]:
key:value -- total delete

In [188]:
d.pop('sales')

[100, 200, 400, 500]

In [189]:
d

{'name': 'Gold', 'qty': 100, 'purity': 23, 'loc': 'pune'}

In [190]:
d

{'name': 'Gold', 'qty': 100, 'purity': 23, 'loc': 'pune'}

In [191]:
d = {'name': ['Gold','silver'], 'qty': [100,200], 'purity': [23,24], 'loc': ['pune','mumbai']}

In [192]:
d

{'name': ['Gold', 'silver'],
 'qty': [100, 200],
 'purity': [23, 24],
 'loc': ['pune', 'mumbai']}

In [193]:
import pandas as pd

In [194]:
df = pd.DataFrame(d)

In [198]:
df.iloc[0:1]

   name  qty  purity   loc
0  Gold  100      23  pune

In [199]:
d

{'name': ['Gold', 'silver'],
 'qty': [100, 200],
 'purity': [23, 24],
 'loc': ['pune', 'mumbai']}

In [211]:
for k in d.keys():
    print(d[k].pop(-1))

silver
200
24
mumbai

In [204]:
d['name']

['Gold', 'silver']

In [212]:
d

{'name': ['Gold'], 'qty': [100], 'purity': [23], 'loc': ['pune']}

In [213]:
d

{'name': ['Gold'], 'qty': [100], 'purity': [23], 'loc': ['pune']}

In [214]:
d = {'id':101,'sales':[100,300],'Product':'Metals','loc':'mumbai'}

In [215]:
#pop
#popitem

In [219]:
d.pop('Product')

'Metals'

In [220]:
d

{'id': 101, 'sales': [100, 300], 'loc': 'mumbai'}

In [221]:
p = [1,2,3,4,5]

In [222]:
p.pop(2)

3

In [223]:
p

[1, 2, 4, 5]

In [224]:
d

{'id': 101, 'sales': [100, 300], 'loc': 'mumbai'}

In [225]:
d.pop('id')

101

In [226]:
p

[1, 2, 4, 5]

In [227]:
d

{'sales': [100, 300], 'loc': 'mumbai'}

In [228]:
d

{'sales': [100, 300], 'loc': 'mumbai'}

In [231]:
d.setdefault('prod_loc','pune')

'pune'

In [232]:
d

{'sales': [100, 300], 'loc': 'mumbai', 'prod_loc': 'pune'}

In [233]:
#if key already present then do nothing if not then insert key:value pair

In [234]:
#Trading --->

In [235]:
prod_details ={
    'gold':{'sales':100,'loc':'USA','Trade':100},
    'silver':{'sales':200,'loc':'UK','Trade':2000}
}

In [238]:
prod_details.setdefault('gold123',{'sales':100,'loc':'pune'})

{'sales': 100, 'loc': 'pune'}

In [239]:
prod_details

{'gold': {'sales': 100, 'loc': 'USA', 'Trade': 100},
 'silver': {'sales': 200, 'loc': 'UK', 'Trade': 2000},
 'gold123': {'sales': 100, 'loc': 'pune'}}

In [241]:
prod_details['gold']  = {'sales': 100, 'loc': 'UK', 'Trade': 100}

In [242]:
prod_details

{'gold': {'sales': 100, 'loc': 'UK', 'Trade': 100},
 'silver': {'sales': 200, 'loc': 'UK', 'Trade': 2000},
 'gold123': {'sales': 100, 'loc': 'pune'}}

In [ ]:
Engineer = Client requirement

In [246]:
prod_details.setdefault('gold34343','dsfds')

'dsfds'

In [247]:
prod_details

{'gold': {'sales': 100, 'loc': 'UK', 'Trade': 100},
 'silver': {'sales': 200, 'loc': 'UK', 'Trade': 2000},
 'gold123': {'sales': 100, 'loc': 'pune'},
 'gold34343': 'dsfds'}

In [248]:
prod_details

{'gold': {'sales': 100, 'loc': 'UK', 'Trade': 100},
 'silver': {'sales': 200, 'loc': 'UK', 'Trade': 2000},
 'gold123': {'sales': 100, 'loc': 'pune'},
 'gold34343': 'dsfds'}

In [249]:
d = {'a':1,'b':2}

In [250]:
d

{'a': 1, 'b': 2}

In [251]:
d.popitem()

('b', 2)

In [253]:
prod_details.popitem()

('gold34343', 'dsfds')

In [254]:
prod_details

{'gold': {'sales': 100, 'loc': 'UK', 'Trade': 100},
 'silver': {'sales': 200, 'loc': 'UK', 'Trade': 2000},
 'gold123': {'sales': 100, 'loc': 'pune'}}

In [255]:
prod_details.popitem()

('gold123', {'sales': 100, 'loc': 'pune'})

In [256]:
prod_details

{'gold': {'sales': 100, 'loc': 'UK', 'Trade': 100},
 'silver': {'sales': 200, 'loc': 'UK', 'Trade': 2000}}

In [257]:
prod_details['metal'] = '100'

In [258]:
prod_details

{'gold': {'sales': 100, 'loc': 'UK', 'Trade': 100},
 'silver': {'sales': 200, 'loc': 'UK', 'Trade': 2000},
 'metal': '100'}

In [260]:
prod_details

{'gold': {'sales': 100, 'loc': 'UK', 'Trade': 100},
 'silver': {'sales': 200, 'loc': 'UK', 'Trade': 2000},
 'metal': '100'}

In [261]:
del prod_details['metal']

In [262]:
prod_details

{'gold': {'sales': 100, 'loc': 'UK', 'Trade': 100},
 'silver': {'sales': 200, 'loc': 'UK', 'Trade': 2000}}

In [263]:
a = 10

In [264]:
del a

In [267]:
del prod_details['silver']['loc']

In [268]:
prod_details

{'gold': {'sales': 100, 'loc': 'UK', 'Trade': 100},
 'silver': {'sales': 200, 'Trade': 2000}}