In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import linear_model
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df = pd.read_csv('Fuel Consumption.csv')
df.shape
df.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [3]:
#df.info()

In [4]:
df1 = df.drop(['MODELYEAR','MAKE','MODEL','VEHICLECLASS','TRANSMISSION','FUELTYPE'],axis= 'columns')
print(type(df1))

<class 'pandas.core.frame.DataFrame'>

In [5]:
df1.isnull().sum()

ENGINESIZE                  0
CYLINDERS                   0
FUELCONSUMPTION_CITY        0
FUELCONSUMPTION_HWY         0
FUELCONSUMPTION_COMB        0
FUELCONSUMPTION_COMB_MPG    0
CO2EMISSIONS                0
dtype: int64

In [6]:
df1.corr()

,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
ENGINESIZE,1.000000,0.934011,0.832225,0.778746,0.819482,-0.808554,0.874154
CYLINDERS,0.934011,1.000000,0.796473,0.724594,0.776788,-0.770430,0.849685
FUELCONSUMPTION_CITY,0.832225,0.796473,1.000000,0.965718,0.995542,-0.935613,0.898039
FUELCONSUMPTION_HWY,0.778746,0.724594,0.965718,1.000000,0.985804,-0.893809,0.861748
FUELCONSUMPTION_COMB,0.819482,0.776788,0.995542,0.985804,1.000000,-0.927965,0.892129
FUELCONSUMPTION_COMB_MPG,-0.808554,-0.770430,-0.935613,-0.893809,-0.927965,1.000000,-0.906394
CO2EMISSIONS,0.874154,0.849685,0.898039,0.861748,0.892129,-0.906394,1.000000

In [7]:
x = df1.drop('CO2EMISSIONS',axis = 'columns')

In [8]:
y = df1['CO2EMISSIONS']

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.2)
y_train.shape

(853,)

In [10]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
print(model.coef_)
model.intercept_

[  7.84679508   8.10897697 -14.87534101  -8.28249732  27.0414287
  -3.69374656]

243.89097970405027

In [11]:
new_predict = model.predict(x_test)
new_predict[:8]

array([232.60113984, 270.43984119, 343.91048896, 260.20944391,
       242.50221629, 158.13771501, 185.07372436, 254.87247485])

In [12]:
df2 = pd.DataFrame({'Actual value': y_test,'Predicted value':new_predict,'error':new_predict-y_test,'Error':(new_predict-y_test)/y_test})
df2

      Actual value  Predicted value      error     Error
1051           246       232.601140 -13.398860 -0.054467
849            271       270.439841  -0.560159 -0.002067
213            380       343.910489 -36.089511 -0.094972
508            258       260.209444   2.209444  0.008564
101            232       242.502216  10.502216  0.045268
...            ...              ...        ...       ...
388            320       363.102800  43.102800  0.134696
808            207       204.391585  -2.608415 -0.012601
34             288       294.203927   6.203927  0.021541
126            209       206.278740  -2.721260 -0.013020
824            138       126.348880 -11.651120 -0.084428

[214 rows x 4 columns]

In [14]:
model.score(x_test,y_test)

0.8771565648987768

In [15]:
import pickle
with open('model_pickle','wb') as f:
    pickle.dump(model,f)

In [ ]:
with open('model_pickle','rb') as f:
    mp = pickle.load(f)

In [ ]:
mp.predict(x_test)